@tailwind base;
@tailwind components;
@tailwind utilities;
.button-attend {
    border-radius: 20px;
    padding: 12px 16px;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;
    width: 10rem;
    /* height: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-button: 10px;
}


.button-checkin{
    background-color: #38BDF8;
}
.button-checkout{
    background-color: #0FDA00;
}
.button-checkin:hover {
    box-shadow: 0 0 30px 10px rgba(48, 133, 214, 0.5); /* Efek glow */
}
.button-checkout:hover {
    box-shadow: 0 0 30px 10px rgba(15, 218, 0, 0.5); /* Efek glow */
}
.container-attend {
    height: 80vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 !important;
}
.location{
    /* margin: 10% 10% 0 10%; */
    /* padding: 1rem 1rem; */
    max-width: 500px;
    margin: 10px 0;
    font-size: 16px;
}
body {
    --swal-bg: #fff;
    --swal-text: #000;
    --swal-confirm-bg: #3085d6;
    --swal-confirm-text: #fff;
}

/* Dark Mode */
body[data-theme='dark'] {
    --swal-bg: #333;
    --swal-text: #fff;
    --swal-confirm-bg: #1e90ff;
    --swal-confirm-text: #fff;
}

.swal2-popup {
    background-color: var(--swal-bg) !important;
    color: var(--swal-text) !important;
}

.swal2-confirm {
    background-color: var(--swal-confirm-bg) !important;
    color: var(--swal-confirm-text) !important;
}
.icon{
    width: 200px;
    color: #3085d6;
}
.success{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.button-ok{
   display: flex;
   justify-items: end;

}
.container-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
}
.fi-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hello{
    margin-bottom: 1rem;
}
.fi-badge-icon{
    font-size: 50px;
    height: auto;
    width: 30px;
}
.checkin-time{
   font-weight: bold;
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 4px;
}
.button-snap{
    border-radius: 50%;
    padding: 12px;
}
.button-camera{
    background-color: #FB9A40 !important;
}
.button-camera:hover {
    background-color: #FBD341 !important;
}
@media (min-width: 768px) {
    .camera{
        margin-bottom: 0px;
    }
}
@media (max-width: 768px) {
    .camera{
    margin-bottom: 1rem;
}
}
